:root {
  --dark: #1b262c;
  --darken: #12191d;
  --light: #a7cade;
}

* {
  font-family: 'Lato', sans-serif;
  overscroll-behavior: none;
  scroll-behavior: none;
}

body > iframe {
  pointer-events: none;
}

body {
  background-color: var(--dark);
  color: var(--light);
  overflow-x: hidden;
  overscroll-behavior: none;
  scroll-behavior: none;
}

html {
  overscroll-behavior: none;
  scroll-behavior: none;
}

.font-playfair-display {
  font-family: 'Playfair Display', sans-serif;
}

.bg-dark {
  background-color: var(--dark) !important;
}

/* main navbar styles */

#mainNavbar {
  background-color: inherit;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
#mainNavbar a {
  color: var(--light);
}
#mainNavbar .navbar-toggler-icon {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 3.5px;
  background-color: var(--light);
  vertical-align: middle;
  content: '';
  border-radius: 3px;
  transition: 0.3s;
}
#mainNavbar .navbar-toggler-icon::after {
  display: inline-block;
  content: '';
  width: 25px;
  height: 3.5px;
  border-radius: 3px;
  position: absolute;
  right: 0;
  top: -12px;
  background-color: var(--light);
  transition: 0.3s;
}
#mainNavbar .navbar-toggler-icon::before {
  display: inline-block;
  content: '';
  width: 20px;
  height: 3.5px;
  border-radius: 3px;
  position: absolute;
  right: 0;
  bottom: -12px;
  background-color: var(--light);
  transition: 0.3s;
}

#mainNavbar .navbar-toggler-icon.active,
#mainNavbar .navbar-toggler-icon.animating,
#mainNavbar .navbar-toggler-icon.reverse {
  transform: rotate(45deg);
}
#mainNavbar .navbar-toggler-icon.active::after,
#mainNavbar .navbar-toggler-icon.animating::after,
#mainNavbar .navbar-toggler-icon.reverse::after {
  width: 30px;
  top: 0;
  transform: rotate(90deg);
}
#mainNavbar .navbar-toggler-icon.active::before,
#mainNavbar .navbar-toggler-icon.animating::before,
#mainNavbar .navbar-toggler-icon.reverse::before {
  display: none;
}

#mainNavbar .navbar-toggler-button:focus {
  outline: none;
}
#mainNavbar .navbar-toggler-button {
  transition: 0.2s;
}
#mainNavbar .navbar-toggler-button:hover {
  background-color: var(--darken);
  padding: 1rem;
}
.navbar-list-menu {
  position: fixed;
  z-index: 99;
  background-color: var(--darken);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #050607ef;
}
.navbar-list-menu ul li .nav-link {
  color: var(--light);
  font-size: 2rem;
}
.navbar-list-menu ul li:not(.active) .nav-link {
  color: var(--light);
  opacity: 0.4;
  font-size: 2rem;
}
.navbar-list-menu ul {
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  width: 80%;
  text-align: center;
}
.navbar-list-menu.inactive {
  display: none;
}
.navbar-list-menu.active {
  display: block;
}
.navbar-list-menu.animating {
  display: block;
  animation: slideIn;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}
.navbar-list-menu.animating.reverse {
  animation-direction: reverse;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

#contact {
  position: relative;
  max-height: 0;
}

.contact-container {
  display: flex;
  padding: 3rem 0;
  align-items: center;
  flex-direction: column;
  position: absolute;
  background: rgb(128, 208, 199);
  background: linear-gradient(
    42deg,
    rgba(128, 208, 199, 1) -10%,
    rgba(0, 212, 255, 1) 110%
  );
  color: rgb(21, 30, 35);
  height: 100vh;
  width: 100%;
  overflow: hidden;
  top: 0;
}

#contact .contact-card {
  background: rgb(255, 204, 112);
  background: linear-gradient(
    42deg,
    rgba(255, 204, 112, 1) 0%,
    rgba(200, 80, 192, 1) 52%,
    rgba(70, 98, 249, 1) 110%
  );
  padding: 4rem 1rem;
  width: 300px;
  border-radius: 20px;
  text-align: center;
  position: relative;
  z-index: 2;
  box-shadow: 0px 8px 30px -10px rgba(29, 36, 37, 0.45);
}

#contact .contact-card .btn {
  border-radius: 50%;
  padding-top: 10px;
  padding-left: 13px;
  padding-right: 13px;
  font-size: 24px;
}

#contact h5 {
  color: white;
  font-weight: 800;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#contact .rect-1 {
  position: absolute;
  right: -360px;
  opacity: 0.2;
  top: 0;
  /* animation: rotate 2s infinite; */
  transform: rotateZ(300deg);
}
/* .rect-2 {
  transform: rotateZ(2deg);
  animation: rotate2 3s infinite;
} */
#contact .rect-2 {
  position: absolute;
  left: -260px;
  opacity: 0.2;
  bottom: -100px;
  -webkit-transform: rotateZ(126deg);
  transform: rotateZ(126deg);
  /* animation: rotate 2s infinite; */
}

@keyframes rotate11 {
  0% {
    transform: scaleX(-1) rotateZ(7deg);
  }
  50% {
    transform: scaleX(-1) rotateZ(6deg);
  }
  100% {
    transform: scaleX(-1) rotateZ(7deg);
  }
}

@keyframes rotate12 {
  0% {
    transform: scaleX(-1) rotateZ(2deg);
  }
  50% {
    transform: scaleX(-1) rotateZ(3deg);
  }
  100% {
    transform: scaleX(-1) rotateZ(2deg);
  }
}

.main-header {
  position: relative;
  height: calc(100vh + 50px);
  background: url(../images/header-background.png);
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

.main-header-overlay {
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(21, 30, 35);
  background: linear-gradient(
    0deg,
    rgba(21, 30, 35, 1) 0%,
    rgba(21, 30, 35, 0.2) 80%
  );
}

.custom-shape-divider-bottom-1634316808 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: 11;
}

.custom-shape-divider-bottom-1634316808 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 180px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1634316808 .shape-fill {
  fill: var(--dark);
}

.main-header .container {
  height: calc(100% - 30px);
}

.main-header p {
  font-weight: 600;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 5px;
  opacity: 0.7;
}

.main-header-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header-text {
  position: relative;
  z-index: -1;
}

.main-header-pict {
  width: 50%;
  height: 100%;
  position: relative;
}

.main-header-pict img {
  width: 400px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.main-header-title {
  width: 50%;
  font-size: 160px;
  font-weight: 700;
  position: relative;
  color: #3f5059;
  margin-bottom: 3rem;
}
.main-header-title::after {
  content: 'Rachmad Syaefullah';
  position: absolute;
  left: -5px;
  top: -5px;
  color: var(--light);
  width: 100%;
  font-size: 160px;
  font-weight: 700;
}

.main-header-subtitle {
  font-weight: 300;
}

.main-header-subtitle span {
  margin-left: 1rem;
  margin-right: 1rem;
  font-weight: 400;
}

.section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 5rem;
  filter: drop-shadow(4px 4px 0px #3f5059a0);
}

#myWork {
  background-color: #151f23;
  scroll-behavior: none;
  overscroll-behavior: none;
}

#certification {
  background-color: #151f23;
  padding: 3.5rem 0;
}

#myWork .scroll-container {
  background-color: #151f23;
  scroll-behavior: none;
  overscroll-behavior: none;
  padding: 3rem 0;
}

.opacity-light {
  opacity: 0.5;
}

.shape-2 {
  transform: rotate(180deg);
}

.shape-2 svg path {
  fill: #151f23 !important;
}

#aboutMe {
  padding-bottom: 180px;
}

.item-container-outer {
  padding-right: 180px;
  padding-left: 120px;
  overflow: hidden;
}
.item-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 3rem;
}

.item-container .item {
  flex: 0 0 100%;
}

#myWork .item {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  align-items: center;
  position: relative;
  gap: 1.5rem;
}

#myWork .item.left {
  flex-direction: row-reverse;
}

#myWork .item.left .item-description {
  flex-direction: row-reverse;
}

#myWork .item.left .company-logo {
  flex-direction: row-reverse;
}

#myWork .company-logo {
  height: 100px;
  display: flex;
  flex-direction: column-reverse;
  gap: 1.5rem;
  justify-content: space-between;
  align-items: center;
}

#myWork .company-logo img {
  min-height: 25px;
}

#myWork .company-logo .pulse {
  width: 15px;
  min-height: 15px;
  display: block;
  background-color: #a1bcf1;
  box-shadow: 0px 0px 0px 6px #a1bcf14f;
  border-radius: 50%;
}

#myWork .item:first-child .company-logo .pulse::after {
  display: none;
}

#myWork .item:last-child .company-logo .pulse::before {
  display: none;
}

#myWork .company-logo .pulse::after {
  display: block;
  content: '';
  position: absolute;
  height: 3px;
  width: calc(50% + 50px);
  left: -50px;
  margin-top: 6px;
  background-color: #a1bcf1;
}

.pin {
  position: fixed;
  z-index: 1;
  top: 0;
  height: 100vh;
}

.unpin {
  position: static;
}

#myWork .company-logo .pulse::before {
  display: block;
  content: '';
  position: absolute;
  height: 3px;
  width: calc(50% + 50px);
  right: -50px;
  margin-top: 6px;
  background-color: #a1bcf1;
}

#myWork .item-description {
  background-color: #10181b;
  padding: 2rem 3rem;
  border-radius: 1rem;
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 100%;
}

#myWork .item-description img {
  width: 540px;
}

#myWork .item-description-body {
  width: 100%;
}

#myWork .item .item-sub {
  opacity: 0.6;
  font-style: italic;
  margin-bottom: 1.5rem;
  font-weight: 200;
}

#myWork .item-description-body > ul > li {
  margin-bottom: 0.1rem;
  font-weight: 200;
  opacity: 0.6;
}

#myWork .item-description-body > ul {
  padding-left: 1rem;
}

#myWork .item-description a h2 {
  color: var(--light);
  margin-bottom: 0.5rem;
}

#myWork .item-description a:hover {
  text-decoration: none;
  cursor: pointer;
}

#myWork .item-description-footer {
  margin-top: 3rem;
}

#myWork .item-description-footer ul {
  display: flex;
  padding-left: 0;
  justify-content: space-between;
  gap: 1rem;
}

#myWork .item-description-footer li {
  list-style: none;
  font-weight: 200;
  width: 40%;
  opacity: 0.6;
}

#myWork .item-description-footer li strong {
  display: block;
  font-weight: 600;
}

.container-fluid {
  padding-right: 60px;
  padding-left: 60px;
}

.certification-item {
  margin-bottom: 2rem;
}

.certification-item span {
  font-size: 14px;
  display: block;
}

.certification-item a {
  border-radius: 20px;
  padding: 0.45rem 2rem;
  font-size: 14px;
  margin-top: 0.8rem;
}

.certification-item a:hover {
  cursor: pointer;
}

#project-section {
  padding: 100px 0;
}

.project-layout {
  -moz-column-width: 18em;
  -webkit-column-width: 18em;
  column-width: 18em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  column-gap: 1em;
  margin: 5px;
}

.project-layout > div {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
}

.project-layout div img {
  max-width: 100%;
}

.project-layout div .w-50 {
  max-width: calc(50% - 0.5rem);
}

.mb-7 {
  margin-bottom: 6.5rem;
}
@media screen and (max-width: 769px) {
  .main-header-overlay {
    background: linear-gradient(
      0deg,
      rgba(21, 30, 35, 0.8) 0%,
      rgba(21, 30, 35, 0.1) 80%
    );
  }
  .item-container-outer {
    padding: 2rem;
    padding-right: 6rem;
  }
  #myWork .item {
    padding-top: 1rem;
  }
  #myWork .item-description {
    padding: 1.5rem;
    font-size: 14px;
  }
  #myWork .scroll-container {
    padding: 1rem 0;
  }
  .item-description h2 {
    font-size: 1.75rem;
  }
  .item-description svg {
    width: 20px;
  }
}
@media only screen and (max-width: 568px) {
  .main-header {
    background-position: left center;
  }
  .main-header-title {
    font-size: 80px;
  }
  .main-header-title::after {
    font-size: 80px;
  }
  #aboutMe .section-title {
    margin-bottom: 2rem;
  }
  .section-title {
    font-size: 3.5rem;
    background: transparent;
  }
  .mb-7 {
    margin-bottom: 5rem;
  }
  #certification img {
    max-width: 100px;
  }
  .item-container-outer {
    padding: 0;
  }
  * {
    overscroll-behavior: unset;
  }
  #myWork .item-description {
    padding: 1rem 1.5rem;
  }
  #myWork .item-description-footer ul {
    display: block;
  }
  #myWork .item-description-footer li {
    width: 100%;
    margin-bottom: 1rem;
  }
  #myWork .item {
    padding-top: 3rem;
    padding-right: 1rem;
  }
  .item-container {
      overflow-x: scroll;
      padding: 1rem;
    }
  .project-layout {
    column-width: 9em;
    overflow: visible;
  }
  .project-layout > div {
    position: relative;
    z-index: 99;
  }
  .certification-item a {
    padding: 0.25rem 2rem;
    margin-top: 0.8rem;
  }
}
